
body {
    text-align: center;
    
}

table {
    border: 0.9px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    
}
td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.covered {
    background-color: gray;
    /* visibility: hidden */
}

.unCovered {
    background-color: white;
}

.modal button{
    display: 'none';
    
}

.statusBtn {
    padding: 10px;
   
}